{%extends 'base.html'%}
{% block content %}
<div class="container">

  <div class="row">
    {% if sites%}
      <h2>Found {{ projects|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 projects for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if sites %}
    {% for project in sites %}
      <div class="col-sm-6 col-md-3">
        <a href="/site-detail/{{site.id}}">{{project.title}}</a>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}
